.auth-form {
    display: flex;
    width: 100vw;
    height: 70vh;
    border-radius: 20px 20px 0 0;
    background: #FFFDFA;
    padding: 36px;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}

.auth-form__title {
    color: #161616;
}

.auth-form__input {
    color: #255CA2;
}

/* .auth-form__input.MuiOutlinedInput-root {
    color: #255CA2;
    border-radius: '8px';
} */

@media (min-width: 1024px) {
    .auth-form {
        width: 30vw;
        height: 100vh;
        padding: 48px;
        border-radius: 0 20px 20px 0;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
}